
<form [formGroup]="addCustomer" (ngSubmit)="submit()">
<div class="p-6 ">


  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group" [ngClass]="{'mb-0.5':getControll('firstName')?.hasError('required') && getControll('firstName')?.touched}">
      <input type="text" id="floating_first_name"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="firstName" />
      <label for="floating_first_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">First
        name</label>
        <small class="text-red-500"
        *ngIf="getControll('firstName')?.hasError('required') && getControll('firstName')?.touched">
        the First name is required
      </small>

    </div>
    <div class="relative z-0 w-full mb-6 group" [ngClass]="{'mb-0.5':getControll('lastName')?.hasError('required') && getControll('lastName')?.touched}">
      <input type="text" id="floating_last_name"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="lastName" />
      <label for="floating_last_name"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Last
        name</label>
        <small class="text-red-500"
        *ngIf="getControll('lastName')?.hasError('required') && getControll('lastName')?.touched">
        the Last name is required
      </small>
    </div>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6">
    <div class="relative z-0 w-full mb-6 group" [ngClass]="{'mb-0.5':getControll('amount')?.hasError('required')&& getControll('amount')?.touched}">
      <input type="tel" id="floating_phone"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="amount" />
      <label for="floating_phone"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Amount</label>
        <small class="text-red-500"
        *ngIf="getControll('amount')?.hasError('required') && getControll('amount')?.touched">
        the Amount is required
      </small>
      
      </div>
    <div class="relative z-0 w-full mb-6 group" [ngClass]="{'mb-0.5':getControll('accountNumber')?.hasError('required') && getControll('accountNumber')?.touched}">
      <input type="text" id="floating_company"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
        placeholder=" " required formControlName="accountNumber" />
      <label for="floating_company"
        class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Account
        number</label>
        <small class="text-red-500"
        *ngIf="getControll('accountNumber')?.hasError('required') && getControll('accountNumber')?.touched">
        the account number is required
      </small>
    </div>
  </div>

  <div class="relative z-0 w-full mb-6 group"
    [ngClass]="{'mb-0.5':(getControll('email')?.hasError('required') && getControll('email')?.touched) || (getControll('email')?.hasError('pattern') && getControll('email')?.touched) }">
    <input type="email" id="floating_email"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required formControlName="email" />
    <label for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
      address</label>
    <small class="text-red-500"
      *ngIf="getControll('email')?.hasError('required') && getControll('email')?.touched">
      the Email is required
    </small>
    <small class="text-red-500"
      *ngIf="getControll('email')?.hasError('pattern') && getControll('email')?.touched">
      the Email is not valid
    </small>
  </div>

  <div class="relative z-0 w-full mb-6 group"
    [ngClass]="{'mb-0.5':getControll('phone')?.hasError('required') && getControll('phone')?.touched}">
    <input type="phone" id="floating_email"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required formControlName="phone" />
    <label for="floating_email"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
      Phone number</label>
    <small class="text-red-500"
      *ngIf="getControll('phone')?.hasError('required') && getControll('phone')?.touched">
      the Phone number is required
    </small>

  </div>
  <div class="relative z-0 w-full mb-6 group"
    [ngClass]="{'mb-0.5':getControll('address')?.hasError('required') && getControll('address')?.touched}">
    <input type="text" id="floating_password"
      class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" " required formControlName="address" />
    <label for="floating_password"
      class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Address</label>
    <small class="text-red-500"
      *ngIf="getControll('address')?.hasError('required') && getControll('address')?.touched">
      the address is required
    </small>
  </div>



  <fieldset>
    <label for="website-admin"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Gender</label>
    <div class="flex items-center mb-4">
      <input formControlName="gender" id="country-option-2" type="radio" value="male"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
      <label for="country-option-2" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        male
      </label>
    </div>
    <div class="flex items-center mb-4">
      <input formControlName="gender" id="country-option-1" type="radio" value="female"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
        checked>
      <label for="country-option-1" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        female
      </label>
    </div>



  </fieldset>
  <fieldset>
    <label for="website-admin" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Account
      type</label>

    <div class="flex items-center mb-4">
      <input formControlName="accountType" id="country-option-1" type="radio" value="Savings"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600"
        checked>
      <label for="country-option-1" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Savings
      </label>
    </div>

    <div class="flex items-center mb-4">
      <input formControlName="accountType" id="country-option-2" type="radio" value="Checking"
        class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-600 dark:focus:bg-blue-600 dark:bg-gray-700 dark:border-gray-600">
      <label for="country-option-2" class="block ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Checking
      </label>
    </div>

  </fieldset>
  <button data-modal-hide="addModal" type="submit" [disabled]="addCustomer.invalid" [ngClass]="{'bg-gray-500':addCustomer.invalid,'hover:bg-gray-500':addCustomer.invalid}"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Add</button>
</div>
</form>